.left-column, .right-column {
  width: 50%;
  box-sizing: border-box;
  padding: 20px; /* Adjust padding as needed */
}


body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

.left-column {
  background-color: #f0f0f0; /* Adjust background color as needed */
}

.right-column {
  background-color: #e0e0e0; /* Adjust background color as needed */
}


.header {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #001E30;
  text-align: center;
}

.title{
  text-align: center;
  width: 100%;
}

.logo {
  width: 150px;
  margin-right: 10px;
  max-width: 100%;
}
.dividem{
  display: flex;
}
.idem1{
  background-color: green;
  max-height: 100px;
}

.idem2{
  background-color: blue;
}

.tabs-container{
  padding-top: 20px;
  display: flex;
}

.tabs {
  list-style: none;
  padding: 0;
}

.tab{
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.tab.active {
  background-color: black;
  color: white;
}

.content {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.content div {
  display: none;
}

.content div.active {
  display: block;
}





a:hover, button:hover {
  opacity: 0.99;
}
