.header {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #001E30;
  text-align: center;
  border-radius: 5px 5px 5px 0;
}

.title{
  text-align: center;
  width: 100%;
}

.logo {
  width: 150px;
  margin-right: 10px;
  max-width: 100%;
}
.divitem{
  display: flex;
  flex: 1;
}

.tabs-container{
  padding-top: 20px;
  display: flex;
  background-color: green;
  width: 15%;
}

.tabs {
  list-style: none;
  padding: 5px;
  width: 100%;
  margin-right: 20px;
}

.tab{
  width: 186px;
  margin-bottom: 10px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid grey;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.tab:hover {
  background-color: grey;
  color: white;
  transform: scale(1.1);
  border-radius: 0px;
}
.tab.active:hover {
  background-color: grey;
  color: white;
  transform: scale(1);
}

.tab.active {
  background-color: grey;
  color: white;
  width: 220px;
  margin-left: -5px;
  border-radius: 0px;

}

.content {
  flex: 1;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0 0 10px;
  background-color: grey;
}

.content div {
  display: none;
}

.content div.active {
  display: block;
}


body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;


}
html, body{
  height: 100%;
}

a:hover, button:hover {
  opacity: 0.99;
}
